<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http::/mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.RestaurantMapper">

	<!-- DB에서 음식점 정보 불러오기  -->
	<select id="readRestaurant"
		resultType="org.zerock.domain.RestaurantVO">
		select * from food_restaurant where cid = #{cid}
	</select>
	
	<select id="Restaurant_open">
	
	</select>
	
	<insert id="insertRestaurant_review">
		insert into food_restaurant_review 
		(cid, rw_writer, rw_content, rw_photo, rw_rating)
		values (#{cid}, #{rw_writer}, #{rw_content}, #{rw_photo}, #{rw_rating})
	</insert>
	

	<insert id="insertRestaurant">
		insert into food_restaurant (cid, address, cate1name,
		catename, parking, placename, phonenum, mainphotourl)
		values (#{cid},
		#{address}, #{cate1name}, #{catename}, #{parking}, #{placename},
		#{phonenum}, #{mainphotourl})
		on duplicate key update cid =cid
	</insert>

	<insert id="insertRestaurant_open">
		insert into food_restaurant_openHour
		(cid, openhourDisplayText, periodName, timeName, timeSE, dayOfWeek)
		value
		(#{cid}, #{openhourDisplayText}, #{periodName}, #{timeName},
		#{timeSE}, #{dayOfWeek})
		on duplicate key update cid =cid
	</insert>

	<insert id="insertRestaurant_off">
		insert into food_restaurant_off
		(cid, holydayName,
		offdate)
		value
		(#{cid}, #{holydayName}, #{offdate})
		on duplicate key
		update cid =cid
	</insert>

	<insert id="insertRestaurant_menu">
		insert into food_restaurant_menu
		(cid, menu, price)
		value
		(#{cid}, #{menu}, #{price})
		on duplicate key update cid =cid
	</insert>
	
	
	<update id="updateRestaurant">
		update food_restaurant
		set address = #{address}, cate1name = #{cate1name}, catename = #{catename}, parking = #{parking}, placename = #{placename},
		phonenum = #{phonenum}, mainphotourl = #{mainphotourl}
		where cid = #{cid}
	</update>
	
	<update id="updateRestaurant_open">
		update food_restaurant_openHour
		set openhourDisplayText = #{openhourDisplayText}, periodName = #{periodName}, timeName = #{timeName}, timeSE = #{timeSE}, dayOfWeek = #{dayOfWeek}
		where cid = #{cid}
	</update>
	
	<update id="updateRestaurant_off">
		update food_restaurant_off
		set holydayName = #{holydayName}, offdate = #{offdate}
		where cid = #{cid}
	
	</update>
	
	<update id="updateRestaurant_menu">
		update food_restaurant_menu 
	</update>
	
</mapper>